*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-italic{
  font-style: italic !important;
}

.bgimage{
  background-image: url('./Assets/A2.jpg');
  background-size: cover;
  min-width: 100vw;
  min-height: 100vh;
}

.title-format{
  color: aqua;
  font-size: 55px;
  font-style: italic;
}

.title-location{
  margin-top: 12%;
  margin-left: 19%;
}

.under-title{
  color: aqua;
  font-size: 25px;
  font-style: italic;
}

.under-title-loc{
  margin-left: 19%;
}
